# Dependencies
node_modules/
.pnpm/

# Build output
build/

# Local environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor settings
.idea/

# System files
.DS_Store
Thumbs.db

# Testing coverage
coverage/

# Temporary files
*.temp
*.tmp

# MacOS metadata
*.DS_Store

# Misc
*.log
